@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

button {
    all: unset;
}


/* css vars */
* {
    /* dark */
    --background-color-dark: #131c2f;
    --text-color-dark: rgb(255, 255, 255);
    --text-color-dark-soft: rgb(202, 201, 201);

    /* light */
    --background-color-light: #ededed;
    --text-color-light: #000;
}

code {
    background-color: rgba(111, 111, 111, 0.22);
}

pre code {
    background-color: transparent;
    white-space: pre-wrap;
}

blockquote {
    border-left: 4px solid rgba(111, 111, 111, 0.22);
    padding: 0.5rem 1rem;
    margin: 1rem 0;
}


:root {
    color-scheme: light;

    --background-color: var(--background-color-light);
    --text-color: var(--text-color-light);
}

[data-theme='dark'] {
    color-scheme: dark;

    --background-color: var(--background-color-dark);
    --text-color: var(--text-color-dark);
    --text-color-soft: var(--text-color-dark-soft);
}

html {
    background-color: var(--background-color);
}

@media (prefers-color-scheme: dark) {
    [data-theme='auto'] {
        color-scheme: dark;

        --background-color: var(--background-color);
        --text-color: var(--text-color-dark);
    }
}
